@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection{
    background-color: #ffcd57;
    color: #0d1128 !important;
}

html::-webkit-scrollbar {
    width: 10px;
    height: 50px;
}

html::-webkit-scrollbar-track {
    background: #0d1128;
}

html::-webkit-scrollbar-thumb {
    background: #ff7900;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

body{
    font-family: "Inter", serif;
}


/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */


.custom-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #ff7900;
    opacity: 0.5;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
.custom-pagination .swiper-pagination-bullet-active {
    opacity: 1;
    transform: scale(1.2);
}